{% extends "layout.html" %}

{% block main %}

	<h1 class="mb-3">Sheet</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>ID Number</th>
				<th>Branch</th>
			</tr>	
		</thead>
		<tbody>
			{% for student in students %}
			<tr>
				<td>{{ student[0] }}</td>
				<td>{{ student[1] }}</td>
				<td>{{ student[2] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $('table')['DataTable']({'info':![],'ordering':!![],'paging':![],'searching':![]});

    </script>
{% endblock %}    			